<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.ebook.model.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="receiver" jdbcType="VARCHAR" property="receiver"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,price,create_time,status,receiver,address,telephone,user_id
    </sql>
    <select id="selectAll" resultType="Order">
      SELECT * FROM tb_order
    </select>
</mapper>